body 
{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container 
{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 
{
    color: #005f73;
}
label 
{
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="number"], input[type="email"], select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
input[type="submit"] 
{
    background-color: #009879;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover 
{
    background-color: #007a6b;
}
footer 
{
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}
.Container2 {
    display: flex; /* Use flexbox to center */
    justify-content: center; /* Horizontally center content */
    align-items: center;
    }
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 251, 251, 0.5);
    z-index: 9999;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
    .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}