
.container{
       width: 90%;
       margin: 0 auto;
       padding: 10px 20px;
}


<<<<<<< HEAD
.image-container img {
    width: 16%; 
    height: auto;
}
=======

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: grey;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: grey;
}

@media  and (max-width: 768px){
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-stretch: 16px;
    }
}
button {
    background-color: #009879;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #007a6b;
}
<<<<<<< HEAD
>>>>>>> 114c05b98e5fd5394ee3c36c2e0c909d1f98b2af
=======
.nav-link:hover{
    background-color: #009879
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 600px) {
    .column, input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
>>>>>>> e8efde8fec6803533e2dd5626202a23d1e33a3ba
