

.heading, .about-heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1, .about-heading h2{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after, .about-heading h2::after{
    content:"";
    position: absolute;
    width: 50%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: brown;
}

.heading p, .about-heading p{
    font-size: 18px;
    color: #605e5e;
    margin-bottom: 35px;
}

.container{
       width: 90%;
       margin: 0 auto;
       padding: 10px 20px;
}

.about-image img{ X
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image-container img{
    width: 40%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.image-container:hover img{
    transform: scale(1.1);
}


.image-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
<<<<<<< HEAD
.image-container img {
    width: 16%; 
    height: auto;
}
=======

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: grey;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: grey;
}

@media  and (max-width: 768px){
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-stretch: 16px;
    }
}
button {
    background-color: #009879;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #007a6b;
}
<<<<<<< HEAD
>>>>>>> 114c05b98e5fd5394ee3c36c2e0c909d1f98b2af
=======
.nav-link:hover{
    background-color: #009879
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 600px) {
    .column, input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
>>>>>>> e8efde8fec6803533e2dd5626202a23d1e33a3ba
